.container {
    background-image: url('../../../shared/assets/background.svg');
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 50px;
    padding: 0px 20px;
}